In [46]:
import pandas as pd
import numpy as np
import re
import random
import nlpaug.augmenter.char as nac
import nlpaug.augmenter.word as naw

In [2]:
path_ = r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\version_2"

In [3]:
df_ = pd.read_excel(path_+r"\dataset_3.xlsx")
df_

                                        document  label
0                                           찰기장       2
1     vanilla raspberry cake kr (바닐라라즈베리케익)() 냉동      9
2                                          건아로니아      6
3                                        계란(30구)      4
4                                    니콜하우스 생과일주스     13
...                                          ...    ...
5243                                      희망나눔박스      8
5244                                         흰설탕     14
5245                                   흰우유, 서울우유      3
5246                                        흰우유개      3
5247                                   히비스커스허브티      15

[5248 rows x 2 columns]

In [53]:
tar_numb = random.randint(7,11)
tar_numb

11

In [55]:
tar_numb

11

# 10배 증강하자
- 기준: 띄어쓰기
- 기준: 오타

In [62]:
test_ = " 계란(30구) 희망나눔박스"
aug = naw.SplitAug()
augmented_text = aug.augment(test_,n=10)
augmented_text

['계란 (30구) 희망 나눔박스',
 '계란 (30구) 희망 나눔박스',
 '계란 (30구) 희망나눔 박스',
 '계란 (30구) 희망나눔 박스',
 '계란 (30구) 희망 나눔박스',
 '계란 (30구) 희망나 눔박스',
 '계란 (30구) 희망나 눔박스',
 '계란 (30구) 희망 나눔박스',
 '계란 (30구) 희 망나눔박스',
 '계란 (30구) 희망나눔 박스']

In [63]:
aug = nac.OcrAug()
aug_text = aug.augment(test_, n = 10)
aug_text

['계란 (3O구) 희망나눔박스',
 '계란 (30구) 희망나눔박스',
 '계란 (39구) 희망나눔박스',
 '계란 (30구) 희망나눔박스',
 '계란 (30구) 희망나눔박스',
 '계란 (30구) 희망나눔박스',
 '계란 (30구) 희망나눔박스',
 '계란 (38구) 희망나눔박스',
 '계란 (3o구) 희망나눔박스',
 '계란 (3D구) 희망나눔박스']

In [81]:
out_all = []
for i in range(len(df_)):
    ori_ = df_["document"][i]
    label_ = df_["label"][i]
    out_all.append([ori_,label_])
    
    aug1 = naw.SplitAug()
    tar_num = random.randint(9,13)
    tar_aug1 = aug1.augment(ori_,n=tar_num)
    
    aug2 = nac.OcrAug()
    tar_num = random.randint(5,8)
    tar_aug2 = aug2.augment(ori_, n=tar_num)
    
    all_aug = tar_aug1 + tar_aug2
    out_ = [[i2,label_] for i2 in all_aug]
    out_all.extend(out_)

In [82]:
len(out_all)

97115

In [89]:
df_out = pd.DataFrame(out_all,columns=["document","label"]).sample(frac=1).reset_index(drop=True)
df_out

                       document  label
0                   쟌슨빌 폴리시 킬바사      8
1                          냉동밀떡      9
2                       한우 사골곰탕      8
3                        기타 김가루      8
4      롯데 제과 (주) 카스 타드 (* 24봉 )     11
...                         ...    ...
97110           롯데2 졸음번 쩍껌 * 4입     11
97111                     빵(파리)      1
97112             서울 신 선목장저지방우유      3
97113                      계란지단      8
97114       대상 (주) 깔끔 한맛 종가집 김치      8

[97115 rows x 2 columns]

In [90]:
df_out.to_excel(r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\version_2\dataset_4.xlsx")