In [1]:

import numpy as np
import pandas as pd
import re
import json
import time
import os

In [2]:
path_ = r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\out"
file_list = os.listdir(path_)
file_list

['2012.txt',
 '2013.txt',
 '2014.txt',
 '2015.txt',
 '2016.txt',
 '2017.txt',
 '2018.txt',
 '2019.txt',
 '2020.txt',
 '2021.txt',
 '2022.txt']

In [3]:
all_list = []
for file_ in file_list:
    can = open(path_+"\\"+file_,"r")
    data = can.read()
    can_list = data.replace("\n","--,").split("--,")
    all_list.extend(can_list)
    can.close()

In [4]:
len(all_list)

32587745

In [9]:
all_identity = list(set(all_list))
len(all_identity)

28148

# Data Cleansing

In [10]:
def removal_spaces(text_):
    return " ".join(text_.split())

In [11]:

#test_ = "계란(30구)"
pattern = "G"
def removal_1(test_,pattern):
    reg = re.compile(r"[0-9]+ *{}".format(pattern))
    text_list = reg.findall(test_)
    for i in text_list:
        test_ = test_.replace(i,"")
    return test_

In [21]:
data_1 = [removal_spaces(i) for i in all_identity]
data_1 = [x.replace("/","") for x in data_1]
data_1 = [x.lower() for x in data_1]

data_1 = [removal_1(x,"kg") for x in data_1]
data_1 = [removal_1(x,"g") for x in data_1]
data_1 = [removal_1(x,"ml") for x in data_1]
data_1 = [removal_1(x,"pack") for x in data_1]
data_1 = [removal_1(x,"pet") for x in data_1]
data_1 = [removal_1(x,"ea") for x in data_1]

In [ ]:
names = data_1.copy()
with open(r'C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\out\all_list.txt', 'w') as fp:
    for item in names:
        # write each item on a new line
        fp.write("%s\n" % item)
    print('Done')

In [22]:
data_2 = [[i,0] for i in data_1]
df_1 = pd.DataFrame(data_2,columns=["document","label"])
df_1.head()

      document  label
0                   0
1  완도 명가 다시마()      0
2          콜라개      0
3  한우사골(국내산 팩)      0
4     누룽지 100t      0

      document
0
1  완도 명가 다시마()
2          콜라개
3  한우사골(국내산 팩)
4     누룽지 100t

In [23]:
df_1.to_excel(r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\out\all_list.xlsx")