In [10]:
import pandas as pd
import numpy as np
import re

In [2]:
path_ = r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\version_2"

In [8]:
df_ = pd.read_excel(path_+r"\Data_Train.xlsx")

In [49]:
df_ = df_[df_["label"]!=0].reset_index(drop=True)
df_.head()

                                            document  label
0                                   찰기장 40kg              2
1   Vanilla Raspberry Cake KR 245g(바닐라라즈베리케익)1pac...      9
2                                              건아로니아      6
3                                            계란(30구)      4
4                                        니콜하우스 생과일주스     13

# Data Cleansing

1. 기타 제거하기
2. 중복 space 제거하기
2. 단위 제거
3.

In [50]:
def removal_spaces(text_):
    return " ".join(text_.split())

In [73]:

#test_ = "계란(30구)"
pattern = "G"
def removal_1(test_,pattern):
    reg = re.compile(r"[0-9]+ *{}".format(pattern))
    text_list = reg.findall(test_)
    for i in text_list:
        test_ = test_.replace(i,"")
    return test_

In [74]:
test_ = "까나리액젓 500 G 10ML"
removal_1(test_,"G")

'까나리액젓  10ML'

In [75]:
df_1 = df_.copy()

In [76]:
df_1["document"] = df_1.document.map(lambda x: removal_spaces(x))

In [54]:
df_1.to_excel(r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\version_2\dataset_1.xlsx")

In [77]:
df_2 = df_1.copy()

In [92]:
df_2["document"] = df_2.document.map(lambda x: x.replace("/",""))
df_2["document"] = df_2.document.map(lambda x: x.lower())

In [104]:


df_2["document"] = df_2.document.map(lambda x: removal_1(x,"kg"))

df_2["document"] = df_2.document.map(lambda x: removal_1(x,"g"))
df_2["document"] = df_2.document.map(lambda x: removal_1(x,"ml"))

df_2["document"] = df_2.document.map(lambda x: removal_1(x,"pack"))
df_2["document"] = df_2.document.map(lambda x: removal_1(x,"pet"))

df_2["document"] = df_2.document.map(lambda x: removal_1(x,"ea"))


df_2.head()

                                     document  label
0                                        찰기장       2
1  vanilla raspberry cake kr (바닐라라즈베리케익)() 냉동      9
2                                       건아로니아      6
3                                     계란(30구)      4
4                                 니콜하우스 생과일주스     13

In [105]:
df_2.to_excel(r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\version_2\dataset_2.xlsx")

In [135]:
df_3 = pd.read_excel(r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\version_2\Data_Train_2.xlsx")
df_3 = df_3.fillna("NA")

In [137]:
for i in range(len(df_3)):
    if df_3["label_2"][i] =="NA":
        df_3["label_2"][i] = df_3.label[i]
df_3["label"] = df_3["label_2"]

In [141]:
df_3 = df_3.drop("label_2",axis=1)
df_3

                                        document label
0                                           찰기장    2.0
1     vanilla raspberry cake kr (바닐라라즈베리케익)() 냉동     9
2                                          건아로니아     6
3                                        계란(30구)     4
4                                    니콜하우스 생과일주스    13
...                                          ...   ...
5243                                      희망나눔박스     8
5244                                         흰설탕    14
5245                                   흰우유, 서울우유     3
5246                                        흰우유개     3
5247                                   히비스커스허브티     15

[5248 rows x 2 columns]

In [142]:
df_3.to_excel(r"C:\Users\USER\Desktop\All\Project\23_VRP\Data\경기\version_2\dataset_3.xlsx")

In [139]:
df_3.loc[:,"label"]

0       2.0
1         9
2         6
3         4
4        13
       ...
5243      8
5244     14
5245      3
5246      3
5247     15
Name: label, Length: 5248, dtype: object

In [100]:

def finder_1(test_,pattern):
    reg = re.compile(pattern)
    return reg.findall(test_)

In [101]:
df_2_test = df_2.copy()

In [102]:
df_2_test["len"] = df_2.document.map(lambda x: len(x))
df_2_test.sort_values(by="len",ascending=False).reset_index(drop=True).iloc[0:10]

                                            document  label  len
0  농업회사법인 리뉴얼라이프㈜ 유기농쌀이좋아 자색고구마쌀떡과자  (판매원:협동조합마미온푸드)     11   49
1     에이치엘비제약(주) 락토러브 더블유(w) 100억 프로바이오틱스 500mg*30캡슐     18   46
2      (주)하림산업 글라이드 육수의 내공 칼칼라면 non fried (116 * 4입)     10   45
3       (주)오뚜기 gamerz cup 딜러 핫치킨마요 로스트아크소서리스 스페셜에디션      10   44
4       에이치엘비제약(주) 슬림 가르시니아&amp;식이섬유&amp;히알루론산(*14포)     18   44
5        에이치엘비제약(주) 락토러브 슬림 프로바이틱스 &amp;가르시니아 (*30입)     18   43
6         vanilla raspberry cake kr (바닐라라즈베리케익)() 냉동      9   42
7          정식품 베지밀검은참깨두유*16+w달콤한베지밀b *2 - tetra pack     13   41
8          tsubuki co.,ltd. yoshikai 모치모치 타이야키 커스타드       1   41
9           tsubuki co.,ltd. yoshikai 모치모치 타이야키 레드빈       1   40

In [103]:
df_2_test[df_2_test["len"]>20]

                                        document  label  len
1     vanilla raspberry cake kr (바닐라라즈베리케익)() 냉동      9   42
35                         (북부산새마을금고) 사과 식초 pet      14   21
41                       (주) 오뚜기 3분 햄버그 스테이크  x       8   23
45                    (주)꽃샘식품 둥굴레 담은 누룽지차 1.*40t     13   26
46                      (주)꿈꾸는콩 맑은물에 국산 촌두부 찌개용       8   24
...                                          ...    ...  ...
5012                   한일식품(주) 국수 사리면 4개입(티브이푸드)      8   25
5050                       해저식품 광천파래김 - foil bag      8   21
5070                       해태제과식품(주) 시크릿 프렌즈 남아용     17   21
5110                       향돈촌영농조합법인 지리산토담흑돈앞다리살      4   21
5159                      호밍스 계란옷을 입혀 더 맛있는 고기완자      8   22

[262 rows x 3 columns]