In [1]:
import numpy as np
import pandas as pd
import re
import json
import time
import os

from IPython.display import display
from IPython.core.display import display, HTML
from tqdm.notebook import tqdm
from collections import Counter

import datetime

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_35024\2444131415.py:9: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
di_list = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
Path_ = r"C:\Users\Samsung\Desktop\all\Project\23_VRPTW\Data\경기\{}"

## check sheep names

In [3]:
dic_ = di_list[0]
for dic_ in di_list:
    path_ = Path_.format(dic_)
    file_list = [i for i in os.listdir(path_) if ".xlsx" in i ]
    file_ = file_list[1]
    path_file = path_ + "\\" + file_
    df_ = pd.ExcelFile(path_file)
    print(dic_)
    print(file_)
    print(df_.sheet_names)

2012
2012년 가평군푸드뱅크 접수 및 제공.xlsx
['2012년 가평군푸드뱅크 접수', '2012년 가평군푸드뱅크 제공']
2013
2013년 (이동)하남시이동푸드마켓 접수.xlsx
['Sheet1', 'Sheet2', 'Sheet3']
2014
2014_광역.xlsx
['2014년 접수현황', '2014년 이관현황', 'Sheet1']
2015
2015년 (이동)하남시이동푸드마켓 접수.xlsx
['2015년 (이동)하남시이동푸드마켓 접수', 'Sheet2', 'Sheet3']
2016
2016년 가평군푸드뱅크 접수 및 제공.xlsx
['2016년 가평군푸드뱅크 접수', '2016년 가평군푸드뱅크 제공']
2017
2017년 가평군푸드뱅크 접수 및 제공.xlsx
['2017년 가평군푸드뱅크 접수', '2017년 가평군푸드뱅크 제공']
2018
2018년 가평군푸드뱅크 접수 및 제공.xlsx
['2018년 가평군푸드뱅크 접수', '2018년 가평군푸드뱅크 제공', 'Sheet1']
2019
2019년 가평군푸드뱅크 접수 및 제공.xlsx
['2019년 가평푸드뱅크 접수', '2019년 가평푸드뱅크 제공']
2020
가평군푸드뱅크.xlsx
['기부물품 모집', '기부물품 제공']
2021
고양시문촌7푸드뱅크.xlsx
['기부물품 모집', '기부물품 제공']
2022
경기도광역푸드뱅크.xlsx
['기부물품 모집', '기부물품 제공']

# check column's names

In [43]:
dic_ = di_list[0]
for dic_ in di_list:
    path_ = Path_.format(dic_)
    file_list = [i for i in os.listdir(path_) if ".xlsx" in i ]
    file_ = file_list[0]
    path_file = path_ + "\\" + file_
    df_ = pd.ExcelFile(path_file)
    df_s = pd.read_excel(path_file,sheet_name=df_.sheet_names[0])
    df_d = pd.read_excel(path_file,sheet_name=df_.sheet_names[1])
    for i in ["접수센터","인수센터","센터"]:
        if i in df_s.columns:
            df_s  = df_s.drop(i,axis=1)
        if i in df_d.columns:
            df_d = df_d.drop(i,axis=1)
    #if df_s.columns
    print(dic_)
    print(file_)
    display(df_s)
    display(df_d)
    print()

2012
2012_광역.xlsx

          기부일자   기부접수물품 Unnamed: 3 Unnamed: 4       장부 Unnamed: 6
0          NaN       분류        물품명        실수량       단가         금액
1   20120104.0      과자류     초코과자/개      30679  2708.91   83106750
2   20120106.0      과자류     초코과자/개       7541  1632.97   12314250
3   20120120.0   기타가공식품   기타 부식류/개      17747  1429.72   25373190
4   20120202.0   기타가공식품     기타 식재료        196  5054.12     990608
..         ...      ...        ...        ...      ...        ...
58  20121122.0      과자류  기타 초코과자/개       1227  3030.15    3718000
59  20121201.0   기타가공식품   기타 부식류/개       9920  1208.46   11987960
60  20121206.0      농산물      쌀과자/개       8400     1430   12012000
61  20121218.0   기타가공식품   기타 부식류/개       5530  1223.01    6763270
62  20121221.0  언더웨어/양말   양말.스타킹/개      64842  1434.26   93000000

[63 rows x 6 columns]

,이관정보,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,일자,분류,물품명,수량,단위,금액
1,2012-01-02 00:00:00,가공식품,기타 부식류/개,3,개,17960
2,2012-01-02 00:00:00,일상용품,기타 생활용품/개,4,개,31102
3,2012-01-02 00:00:00,가공식품,기타 부식류/개,7,개,41906
4,2012-01-02 00:00:00,일상용품,기타 생활용품/개,81,개,629834
...,...,...,...,...,...,...
3001,2012-12-27 00:00:00,가공식품,기타 식재료,456,개,389392
3002,2012-12-28 00:00:00,가공식품,기타 부식류/개,5,개,10431
3003,2012-12-31 00:00:00,가공식품,기타 부식류/개,5,개,10431
3004,2012-12-31 00:00:00,가공식품,기타 식재료,3605,개,3989905
3005,2012-12-31 00:00:00,가공식품,기타 식재료,144,개,148861

2013
2013_광역.xlsx

,기부자,기부일자,기부접수물품,Unnamed: 4,Unnamed: 5,장부,Unnamed: 7
0,NaN,NaN,분류,물품명,실수량,단가,금액
1,(주)오뚜기,20130103.0,기타가공식품,기타 부식류/개,4846,1365.58,6617620
2,고은향기,20130104.0,기타가공식품,기타 식재료,94,185546.81,17441400
3,하늘처럼,20130107.0,과자류,초코과자/개,18954,1877.04,35577500
4,(주)오뚜기,20130116.0,기타가공식품,기타 부식류/개,888,1954.95,1736000
...,...,...,...,...,...,...,...
135,(주)오뚜기,20131219.0,기타가공식품,기타 부식류/개,1927,2304.17,4440140
136,경기도광역푸드뱅크,20131223.0,문구/사무용품,문구셋트,50,5280,264000
137,(주)오뚜기,20131224.0,기타가공식품,기타 부식류/개,11467,1317.41,15106700
138,농업회사법인 동부팜화옹(주),20131226.0,농산물,토마토/kg,5900,2820,16638000
139,고은향기,20131231.0,기타가공식품,기타 부식류/개,159,11255.97,1789700

,이관정보,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,일자,분류,물품명,수량,단위,금액
1,2013-01-01 00:00:00,가공식품,기타 부식류/개,491,개,1219015
2,2013-01-01 00:00:00,가공식품,기타 빵/개,60,개,30720
3,2013-01-01 00:00:00,가공식품,기타 빵/개,463,개,237056
4,2013-01-01 00:00:00,가공식품,기타 빵/개,589,개,301568
...,...,...,...,...,...,...
2721,2013-12-31 00:00:00,가공식품,기타 식재료,3420,개,3625542
2722,2013-12-31 00:00:00,가공식품,기타 식재료,3757,개,3982795
2723,2013-12-31 00:00:00,가공식품,기타 식재료,156,개,229572
2724,2013-12-31 00:00:00,가공식품,기타 식재료,10136,개,10745173
2725,2013-12-31 00:00:00,가공식품,기타 식재료,20422,개,21649362

2014
2014 평택푸드마켓2호점 접수 및 제공.xlsx

           기부일자   기부접수물품 Unnamed: 3 Unnamed: 4        장부 Unnamed: 6
0           NaN       분류        물품명        실수량        단가         금액
1    20140102.0   대용식(빵)        빵/개         16      3425      54800
2    20140102.0   대용식(빵)      케이크/개          7  22057.14     154400
3    20140102.0   기타가공식품     기타 식재료        118   8933.96    1054207
4    20140102.0   기타가공식품   기타 부식류/개         50   3480.84     174042
..          ...      ...        ...        ...       ...        ...
426  20141224.0   대용식(빵)        빵/개          7   2542.86      17800
427  20141226.0   대용식(빵)        빵/개          8    2087.5      16700
428  20141229.0   대용식(빵)        빵/개          8      2425      19400
429  20141230.0      음료류   기타 음료류/개        744      1800    1339200
430  20141231.0  즉석/편의식품        떡/개          3   2866.67       8600

[431 rows x 6 columns]

             일자    분류       물품명  수량      장부단가      장부금액 개인/단체
0      20140102  가공식품  기타 음료류/개  10    400.00   4000.00    개인
1      20140102  가공식품  기타 음료류/개  10    400.00   4000.00    개인
2      20140102  가공식품  기타 음료류/개  10    400.00   4000.00    개인
3      20140102  가공식품  기타 음료류/개  10    400.00   4000.00    개인
4      20140102  가정용품    세탁세제/개   1  12000.00  12000.00    개인
...         ...   ...       ...  ..       ...       ...   ...
12068  20141231  가공식품    기타 식재료  11   1169.17  12860.87    개인
12069  20141231  가공식품     김치/kg   1  25500.00  25500.00    개인
12070  20141231  가공식품       떡/개   1   2866.67   2866.67    개인
12071  20141231  가공식품       떡/개   1   2866.67   2866.67    개인
12072  20141231  가공식품       떡/개   1   2866.67   2866.67    개인

[12073 rows x 7 columns]

2015
2015_광역.xlsx

           기부일자   기부접수물품     Unnamed: 3 Unnamed: 4       장부 Unnamed: 6
0           NaN       분류            물품명        실수량       단가         금액
1    20150102.0  즉석/편의식품          동원전복죽        680  3248.24    2208800
2    20150102.0     위생용품           치약/개       1080   951.76    1027900
3    20150102.0  즉석/편의식품           3분카레        800   1417.5    1134000
4    20150102.0  즉석/편의식품  오뚜기)3분짜장 200G        950     1500    1425000
..          ...      ...            ...        ...      ...        ...
426  20151224.0   기타가공식품           부식류.       1214  2051.11    2490050
427  20151229.0   기타가공식품      기타 시리얼 /개       8946     1356   12130776
428  20151230.0     생활용품       생활용품 / 개         30   100000    3000000
429  20151230.0      농산물      농협 쌀 10Kg        400    25000   10000000
430  20151230.0      축산물   제주도흑돼지주물럭구이외        210    10000    2100000

[431 rows x 6 columns]

,이관정보,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,일자,분류,물품명,수량,단위,금액
1,2015-02-26 00:00:00,가공식품,기타 식재료,160,개,250276
2,2015-02-26 00:00:00,가공식품,기타 시리얼 /개,176,개,399696
3,2015-02-26 00:00:00,가공식품,기타 식재료,160,개,172180
4,2015-02-26 00:00:00,가공식품,기타 식재료,1080,개,1969606
...,...,...,...,...,...,...
3500,2015-02-04 00:00:00,가공식품,기타 음료류/개,5416,개,1682642
3501,2015-02-06 00:00:00,가공식품,기타 과자류/개,1504,개,981675
3502,2015-03-03 00:00:00,가공식품,기타 식재료,1440,개,2392617
3503,2015-04-28 00:00:00,가공식품,반찬/개,1170,개,1755000
3504,2015-10-27 00:00:00,신선식품,돼지고기/개,587,개,4288440

2016
2016_광역.xlsx

           기부일자  기부접수물품      Unnamed: 3 Unnamed: 4       장부 Unnamed: 6
0           NaN      분류             물품명        실수량       단가         금액
1    20160105.0     조미료    오뚜기 콩기름 0.5L        100     1980     198000
2    20160105.0     조미료  오뚜기 참기름(병) 320        100     4900     490000
3    20160105.0     농산물     오뚜기쌀 명품 1KG        200     4500     900000
4    20160105.0     음료류          모카커피믹스       2000      170     340000
..          ...     ...             ...        ...      ...        ...
551  20161222.0  기타가공식품        기타 부식류/개       1868  3033.62    5666800
552  20161226.0  기타가공식품        슈타이어 호박씨       1662     3048    5065776
553  20161226.0  기타가공식품     슈타이어 호박씨 오일       1821     6573   11969433
554  20161227.0     과자류          빼빼로 모듬      16412  2920.72   47934855
555  20161228.0  기타가공식품        기타 부식류/개       6769  6448.97   43653100

[556 rows x 6 columns]

,이관정보,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,일자,분류,물품명,수량,단위,금액
1,2016-04-29 00:00:00,가공식품,켈로그)스페셜K시리얼,255,개,1435994
2,2016-01-13 00:00:00,신선식품,감귤,185,개,2775000
3,2016-01-28 00:00:00,가공식품,기타 간식류/박스,45,개,5544000
4,2016-02-04 00:00:00,가공식품,음료수,792,개,581526
...,...,...,...,...,...,...
4381,2016-07-15 00:00:00,가공식품,기타 식재료,2558,개,11696941
4382,2016-09-28 00:00:00,가정용품,생활용품 / 개,2000,개,2512980
4383,2016-11-18 00:00:00,가공식품,기타 과자류/개,512,개,2215424
4384,2016-04-01 00:00:00,가공식품,농심 신라면 120G x 5EA,472,개,1558213
4385,2016-11-25 00:00:00,신선식품,정부수매 태양초 건고추 1kg,3000,개,33000000

2017
2017_광역.xlsx

,기부일자,기부접수물품,Unnamed: 3,Unnamed: 4,장부,Unnamed: 6
0,NaN,분류,물품명,실수량,단가,금액
1,20170102.0,기타가공식품,기타 부식류/개,2161,2245.35,4852200
2,20170105.0,기타가공식품,기타 부식류/개,1224,1050,1285200
3,20170116.0,기타가공식품,기타 부식류/개,480,2490,1195200
4,20170117.0,건강식품,보림유기농아로니아원액100%700ml,318,5592,1778256
...,...,...,...,...,...,...
361,20171214.0,축산가공식품,농업회사법인 조인 주식회사 누리웰 깐메추리알 450G,13780,4500,62010000
362,20171215.0,기타가공식품,기타 부식류/개,384,2004,769536
363,20171215.0,기타가공식품,기타 부식류/개,1548,2763.57,4278000
364,20171220.0,농산물,쌀 20kg,750,38000,28500000
365,20171229.0,냉동식품,기타 냉동식품류/개,342,27000,9234000

,이관정보,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,일자,분류,물품명,수량,단위,금액
1,2017-01-02 00:00:00,신선식품,"신선식품류(과일,야채)",14,개,87104
2,2017-01-02 00:00:00,신선식품,"신선식품류(과일,야채)",226,개,1406108
3,2017-01-02 00:00:00,신선식품,"신선식품류(과일,야채)",347,개,2158936
4,2017-01-02 00:00:00,가공식품,기타 부식류/개,2161,개,4852201
...,...,...,...,...,...,...
3664,2017-12-29 00:00:00,가공식품,기타 냉동식품류/개,87,개,2349000
3665,2017-12-29 00:00:00,신선식품,육계냉동 12호,800,개,2056800
3666,2017-12-29 00:00:00,신선식품,육계냉동 12호,800,개,2056800
3667,2017-12-30 00:00:00,가공식품,기타 유제품류/개,69,개,65006
3668,2017-12-31 00:00:00,가공식품,기타 유제품류/개,43,개,40511

2018
2018_광역.xlsx

           기부일자  기부접수물품 Unnamed: 3 Unnamed: 4        장부 Unnamed: 6
0           NaN      분류        물품명        실수량        단가         금액
1    20180108.0  기타가공식품   기타 부식류/개       3012    1240.6    3736684
2    20180111.0  기타가공식품   기타 부식류/개        212   3110.28     659380
3    20180116.0  기타가공식품   기타 부식류/개        975   3110.93    3033160
4    20180118.0  기타가공식품   기타 부식류/개        385   2617.53    1007750
..          ...     ...        ...        ...       ...        ...
178  20181228.0  기타가공식품   기타 부식류/개        964   2494.59    2404780
179  20181228.0  기타가공식품   기타 부식류/개       4214  26210.88  110452660
180  20181228.0  기타가공식품   기타 부식류/개       2986    2353.1    7026360
181  20181231.0     음료류   기타 음료류/개     109300    549.13   60020250
182  20181231.0  기타가공식품   기타 부식류/개       2382   2877.74    6854770

[183 rows x 6 columns]

,이관정보,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,일자,분류,물품명,수량,단위,금액
1,2018-01-03 00:00:00,가공식품,CJ식재료,90,개,96721
2,2018-01-01 00:00:00,가공식품,기타 유제품류/개,108,개,111306
3,2018-01-02 00:00:00,가공식품,기타 유제품류/개,96,개,98939
4,2018-01-03 00:00:00,가공식품,CJ식재료,660,개,810968
...,...,...,...,...,...,...
2881,2018-12-28 00:00:00,가공식품,기타 부식류/개,280,개,7339046
2882,2018-12-29 00:00:00,가공식품,기타 유제품류/개,110,개,71494
2883,2018-12-30 00:00:00,가공식품,기타 유제품류/개,800,개,519960
2884,2018-12-31 00:00:00,가공식품,기타 부식류/개,2382,개,6854776
2885,2018-12-31 00:00:00,가공식품,기타 유제품류/개,720,개,467964

2019
2019_광역.xlsx

          기부일자  기부접수물품 Unnamed: 3 Unnamed: 4            장부     Unnamed: 6
0          NaT      분류        물품명        실수량            단가             금액
1   2019-01-09     과자류   기타 과자류/개       1338       2708.43        3623880
2   2019-01-10  기타가공식품   기타 부식류/개       1773        2131.7        3779510
3   2019-01-14  기타가공식품   기타 부식류/개       5974        367.17        2193500
4   2019-01-16  기타가공식품   기타 부식류/개      12230       1127.89       13794130
..         ...     ...        ...        ...           ...            ...
187 2019-12-30    건강식품  기타 건강용품/개      36474       4343.35      158419266
188 2019-12-30     음료류   기타 음료류/개       2040         27850       56814000
189 2019-12-30    건강식품  기타 건강용품/개       2266        4414.4       10003034
190 2019-12-31  기타가공식품   기타 부식류/개        174       3513.56         611360
191        NaT     NaN        NaN  1,374,770  1,169,640.73  3,716,383,067

[192 rows x 6 columns]

,이관정보,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,일자,분류,물품명,수량,단위,금액
1,2019-03-09 00:00:00,가공식품,기타 부식류/개,366,개,2122800
2,2019-03-29 00:00:00,가공식품,탐라는제주감귤 1kg,640,개,2963705
3,2019-03-29 00:00:00,가공식품,탐라는제주감귤 1kg,640,개,2963705
4,2019-03-29 00:00:00,가공식품,탐라는제주감귤 1kg,640,개,2963705
...,...,...,...,...,...,...
3191,2019-12-30 00:00:00,가공식품,기타 음료류/개,408,개,11362800
3192,2019-12-30 00:00:00,가공식품,기타 건강용품/개,1680,개,7416192
3193,2019-12-30 00:00:00,가공식품,기타 건강용품/개,586,개,2586838
3194,2019-12-31 00:00:00,가공식품,기타 부식류/개,174,개,611359
3195,NaN,NaN,NaN,"479,941",NaN,"679,109,876"

2020
2020_광역.xlsx

,사업장 명칭 :,Unnamed: 1,경기광역기부식품등지원센터,Unnamed: 3,Unnamed: 4
0,사업장 소재지 :,NaN,"수원시 장안구 서부로 2139, SK HUB BLUE 6003호",NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,모집일자,종류,품목,수량,가액
3,2020-01-07 00:00:00,기타가공식품,기타 부식류/개,1284,7468580
4,2020-01-08 00:00:00,기타가공식품,기타 부식류/개,1511,5134050
...,...,...,...,...,...
289,2020-12-30 00:00:00,농산물,기타 채소류/100g,1,621
290,2020-12-30 00:00:00,농산물,백미(20kg),750,40500000
291,2020-12-31 00:00:00,농산물,기타 과일류/100g,42,16548
292,2020-12-31 00:00:00,위생용품,손소독제 500ml,60,NaN
293,2020-12-31 00:00:00,위생용품,마스크,27900,13000000

,사업장 명칭 :,Unnamed: 1,경기광역기부식품등지원센터,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,사업장 소재지 :,NaN,"수원시 장안구 서부로 2139, SK HUB BLUE 6003호",NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,제공일자,종류,품목,수량,가액,이용자 구분
3,2020-10-06 00:00:00,가공식품,롯데칠성) 음료류,5494,1235820,이관
4,2020-12-09 00:00:00,가공식품,CJ제일제당 식재료,2776,4567685,이관
...,...,...,...,...,...,...
4418,2020-12-31 00:00:00,가공식품,썬키스트 허니유자 280ml,200,68400,이관
4419,2020-12-31 00:00:00,가공식품,통조림,100,348520,이관
4420,2020-12-31 00:00:00,가공식품,쏠라C구미 포도맛 50G,6400,4224000,이관
4421,2020-12-31 00:00:00,가공식품,쏠라C구미 포도맛 50G,6400,4224000,이관
4422,2020-12-31 00:00:00,가공식품,쏠라C구미 포도맛 50G,6400,4224000,이관

2021
가평군푸드뱅크.xlsx

                  사업장 명칭 Unnamed: 1              가평군푸드뱅크 Unnamed: 3 Unnamed: 4
0                사업장 소재지        NaN  가평군 가평읍 달전로 44(달전리)        NaN        NaN
1                    NaN        NaN                  NaN        NaN        NaN
2                   모집일자         종류                   품목         수량         가액
3    2021-01-01 00:00:00     대용식(빵)                  기타빵         26     147500
4    2021-01-01 00:00:00     대용식(빵)                  기타빵         19     114000
..                   ...        ...                  ...        ...        ...
762  2021-12-28 00:00:00     대용식(빵)                  기타빵         19     111910
763  2021-12-28 00:00:00     대용식(빵)                  기타빵         80     356800
764  2021-12-29 00:00:00     대용식(빵)                  기타빵         28     172760
765  2021-12-30 00:00:00     대용식(빵)                  기타빵         18     102960
766  2021-12-31 00:00:00        과자류             롯데제과)과자류       1368    1925546

[767 rows x 5 columns]

,사업장 명칭,Unnamed: 1,가평군푸드뱅크,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,사업장 소재지,NaN,가평군 가평읍 달전로 44(달전리),NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,제공일자,이용자 구분,종류,품목,수량,장부금액
3,2021-01-27 00:00:00,개인,의류/패션잡화,양말1EA,2,2000
4,2021-01-27 00:00:00,개인,의류/패션잡화,양말1EA,2,2000
...,...,...,...,...,...,...
24717,2021-12-29 00:00:00,개인,가공식품,기타빵,6,37020
24718,2021-12-29 00:00:00,개인,가공식품,기타빵,6,37020
24719,2021-12-31 00:00:00,개인,가공식품,기타빵,6,34320
24720,2021-12-31 00:00:00,개인,가공식품,기타빵,6,34320
24721,2021-12-31 00:00:00,개인,가공식품,기타빵,6,34320

2022
가평군푸드뱅크.xlsx

                  사업장 명칭 Unnamed: 1              가평군푸드뱅크 Unnamed: 3 Unnamed: 4
0                사업장 소재지        NaN  가평군 가평읍 달전로 44(달전리)        NaN        NaN
1                    NaN        NaN                  NaN        NaN        NaN
2                   모집일자         종류                   품목         수량         가액
3    2022-01-01 00:00:00     대용식(빵)                  기타빵         24     126000
4    2022-01-02 00:00:00     대용식(빵)                  기타빵         92     495880
..                   ...        ...                  ...        ...        ...
595  2022-12-30 00:00:00        과자류               롯데과자01       2265    3090693
596  2022-12-30 00:00:00     대용식(빵)                  기타빵          5      27500
597  2022-12-30 00:00:00     대용식(빵)                  기타빵         21      58500
598  2022-12-30 00:00:00     대용식(빵)                  기타빵         16      49000
599  2022-12-31 00:00:00     대용식(빵)                  기타빵         18     101500

[600 rows x 5 columns]

,사업장 명칭,Unnamed: 1,가평군푸드뱅크,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,사업장 소재지,NaN,가평군 가평읍 달전로 44(달전리),NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,제공일자,이용자 구분,종류,품목,수량,장부금액
3,2022-01-03 00:00:00,개인,일상용품,덴탈마스크,200,30000
4,2022-01-03 00:00:00,개인,일상용품,덴탈마스크,200,30000
...,...,...,...,...,...,...
15651,2022-12-30 00:00:00,개인,가공식품,기타빵,1,3062
15652,2022-12-30 00:00:00,개인,가공식품,기타빵,1,2785
15653,2022-12-30 00:00:00,개인,가공식품,기타빵,1,2785
15654,2022-12-30 00:00:00,개인,가공식품,기타빵,1,2785
15655,2022-12-30 00:00:00,개인,가공식품,기타빵,1,2785

In [3]:
col_dic = {
    2012:[["일자","분류","물품명","수량","단가","금액"],
         ["일자","분류","물품명","수량","단위","금액"]],
    2013:[["일자","분류","물품명","수량","단가","금액"],
          ["일자","분류","물품명","수량","단위","금액"]],
    2014:[["일자","분류","물품명","수량","단가","금액"],
          ["일자","분류","물품명","수량","장부단가","금액"]],
    2015:[["일자","분류","물품명","수량","단가","금액"],
          ["일자","분류","물품명","수량","단위","금액"]],
    2016:[["일자","분류","물품명","수량","단가","금액"],
          ["일자","분류","물품명","수량","단위","금액"]],
    2017:[["일자","분류","물품명","수량","단가","금액"],
          ["일자","분류","물품명","수량","단위","금액"]],
    2018:[["일자","분류","물품명","수량","단가","금액"],
          ["일자","분류","물품명","수량","단위","금액"]],
    2019:[["일자","분류","물품명","수량","단가","금액"],
          ["일자","분류","물품명","수량","단위","금액"]],

    2020:[["일자","분류","물품명","수량","금액"],
          ["일자","분류","물품명","수량","금액","이용자"]],
    2021:[["일자","분류","물품명","수량","금액"],
          ["일자","이용자","분류","물품명","수량","금액"]],
    2022:[["일자","분류","물품명","수량","금액"],
          ["일자","이용자","분류","물품명","수량","금액"]]
    
}

In [4]:
eli_col = ["기부자","장부단가","개인/단체","이용자"]

In [5]:
def change_col(df_,col_dic,dic_,type_):
    if type_ == "supply":
        col_ori = list(df_.columns)
        col_after = col_dic[dic_][0]
        col_dic = {}
        for i in range(len(col_ori)):
            key_ = col_ori[i]
            value_ = col_after[i]
            col_dic[key_] = value_
        df_ = df_.rename(columns=col_dic)
    elif type_ == "demand":
        col_ori = list(df_.columns)
        col_after = col_dic[dic_][1]
        col_dic = {}
        for i in range(len(col_ori)):
            key_ = col_ori[i]
            value_ = col_after[i]
            col_dic[key_] = value_
        df_ = df_.rename(columns=col_dic)
    return df_

In [64]:
dic_ = di_list[0]
for dic_ in di_list:
    path_ = Path_.format(dic_)
    file_list = [i for i in os.listdir(path_) if ".xlsx" in i ]
    file_ = file_list[1]
    path_file = path_ + "\\" + file_
    df_ = pd.ExcelFile(path_file)
    df_s = pd.read_excel(path_file,sheet_name=df_.sheet_names[0])
    df_d = pd.read_excel(path_file,sheet_name=df_.sheet_names[1])

    for i in ["접수센터","인수센터","센터","기부자","지역","개인/단체"]:
        if i in df_s.columns:
            df_s  = df_s.drop(i,axis=1)
        if i in df_d.columns:
            df_d = df_d.drop(i,axis=1)

    df_s = change_col(df_s,col_dic,dic_,"supply")
    df_d = change_col(df_d,col_dic,dic_,"demand")

    
    for i in ["기부자","장부단가","개인/단체","이용자"]:
        if i in df_s.columns:
            df_s  = df_s.drop(i,axis=1)
        if i in df_d.columns:
            df_d = df_d.drop(i,axis=1)

    #except:
    #    print("ERRORRRRRRRRRRRRRRRRR",file_)
    #if df_s.columns
    print(dic_)
    print(file_)
    display(df_s)
    display(df_d)
    print()

2012
2012년 가평군푸드뱅크 접수 및 제공.xlsx

             일자      분류     물품명   수량       단가      금액
0           NaN      분류     물품명  실수량       단가      금액
1    20120102.0  대용식(빵)  기타 빵/개   22  1240.91   27300
2    20120102.0  대용식(빵)  기타 빵/개   29  2575.86   74700
3    20120105.0  대용식(빵)  기타 빵/개   39  1887.18   73600
4    20120105.0  대용식(빵)  기타 빵/개   44  1720.45   75700
..          ...     ...     ...  ...      ...     ...
780  20121228.0  대용식(빵)      케익    2    23500   47000
781  20121229.0  대용식(빵)      케익    4    19000   76000
782  20121229.0  대용식(빵)  기타 빵/개   11     1800   19800
783  20121231.0  대용식(빵)  기타 빵/개   34  3329.41  113200
784  20121231.0  대용식(빵)      케익    1    21000   21000

[785 rows x 6 columns]

            일자    분류     물품명  수량       단위       금액
0     20120102  가공식품  기타 빵/개   3  2168.75  6506.25
1     20120102  가공식품  기타 빵/개   4  2168.75  8675.00
2     20120102  가공식품  기타 빵/개   3  2168.75  6506.25
3     20120102  가공식품  기타 빵/개   3  2168.75  6506.25
4     20120102  가공식품  기타 빵/개   3  2168.75  6506.25
...        ...   ...     ...  ..      ...      ...
4833  20121231  가공식품  기타 빵/개   3  3329.41  9988.23
4834  20121231  가공식품  기타 빵/개   3  3329.41  9988.23
4835  20121231  가공식품  기타 빵/개   3  3329.41  9988.23
4836  20121231  가공식품  기타 빵/개   3  3329.41  9988.23
4837  20121231  가공식품  기타 빵/개   3  3329.41  9988.23

[4838 rows x 6 columns]

2013
2013년 (이동)하남시이동푸드마켓 접수.xlsx

           일자      분류     물품명    수량    단가        금액
0         NaN      분류     물품명   실수량    단가        금액
1  20130626.0  기타가공식품  효소바 슬림  7200  3500  25200000
2  20130627.0  기타가공식품  효소바 슬림  3600  3500  12600000

Empty DataFrame
Columns: []
Index: []

2014
2014_광역.xlsx

             일자      분류                 물품명     수량       단가        금액
0           NaN      분류                 물품명    실수량       단가        금액
1    20140102.0    패션잡화                 목도리    150     2200    330000
2    20140102.0    위생용품  애경2080(original)치약   1140      950   1083000
3    20140102.0   대용식기타       제일제면소 소면 500g    360     1595    574200
4    20140102.0     조미료       해찬들 재래식된장 500    580     2255   1307900
..          ...     ...                 ...    ...      ...       ...
453  20141205.0      의류                 청바지   2000    26000  52000000
454  20141209.0     조미료            기타 소스류/개    765  9090.91   6954545
455  20141212.0    위생용품               물티슈/개  70220      500  35110000
456  20141216.0  기타가공식품            기타 부식류/개    678   4258.7   2887400
457  20141223.0  기타가공식품            기타 부식류/개    120     5600    672000

[458 rows x 6 columns]

                       일자    분류       물품명    수량       금액
0                      일자    분류       물품명    수량       금액
1     2014-01-01 00:00:00  가공식품  기타 부식류/개    54   109995
2     2014-01-01 00:00:00  가공식품  기타 부식류/개   939  1912705
3     2014-01-01 00:00:00  가공식품  기타 부식류/개   109   222028
4     2014-01-01 00:00:00  가공식품  기타 부식류/개   200   407392
...                   ...   ...       ...   ...      ...
4038  2014-12-30 00:00:00  가공식품  기타 과자류/개  1152  1132542
4039  2014-12-30 00:00:00  가공식품  기타 과자류/개  1152  1132542
4040  2014-12-30 00:00:00  가공식품  기타 과자류/개  1152  1132542
4041  2014-12-30 00:00:00  가공식품  기타 과자류/개  1152  1132542
4042  2014-12-31 00:00:00  가공식품  기타 음료류/개    30    22373

[4043 rows x 5 columns]

2015
2015년 (이동)하남시이동푸드마켓 접수.xlsx

           일자   분류      물품명   수량    단가       금액
0         NaN   분류      물품명  실수량    단가       금액
1  20151223.0  과자류  기타 감자튀김  532  7750  4123000

Empty DataFrame
Columns: []
Index: []

2016
2016년 가평군푸드뱅크 접수 및 제공.xlsx

              일자      분류    물품명   수량        단가      금액
0            NaN      분류    물품명  실수량        단가      금액
1     20160101.0  대용식(빵)    기타빵   12   1641.67   19700
2     20160103.0  대용식(빵)    기타빵   21   1680.95   35300
3     20160103.0  대용식(빵)    기타빵   14   2464.29   34500
4     20160104.0  대용식(빵)  기타케이크    4     38000  152000
...          ...     ...    ...  ...       ...     ...
1147  20161230.0  대용식(빵)    기타빵   32   2176.56   69650
1148  20161230.0  대용식(빵)    기타빵  127   2416.38  306880
1149  20161230.0  대용식(빵)  기타케이크    6  26853.33  161120
1150  20161230.0  대용식(빵)    기타빵   20      2128   42560
1151  20161231.0  대용식(빵)    기타빵   15   2316.67   34750

[1152 rows x 6 columns]

             일자    분류                물품명  수량        단위        금액
0      20160104  가공식품                음료수   4    905.41   3621.64
1      20160104  가공식품                음료수   4    905.41   3621.64
2      20160104  가공식품                음료수   4    905.41   3621.64
3      20160104  가공식품                음료수   4    905.41   3621.64
4      20160104  가공식품                음료수   4    905.41   3621.64
...         ...   ...                ...  ..       ...       ...
31773  20161130  가공식품             기타편의식품   3   1130.00   3390.00
31774  20161130  가공식품  기타 김치10KG - VINYL   1  33979.59  33979.59
31775  20161130  가공식품             기타편의식품   2   1130.00   2260.00
31776  20161130  가공식품  기타 김치10KG - VINYL   1  33979.59  33979.59
31777  20161130  가공식품  기타 김치10KG - VINYL   1  33979.59  33979.59

[31778 rows x 6 columns]

2017
2017년 가평군푸드뱅크 접수 및 제공.xlsx

              일자       분류     물품명   수량       단가      금액
0            NaN       분류     물품명  실수량       단가      금액
1     20170101.0  즉석/편의식품  기타편의식품  123  1249.02  153630
2     20170102.0   대용식(빵)     기타빵   10     2020   20200
3     20170102.0  즉석/편의식품  기타편의식품   64  1874.06  119940
4     20170102.0   대용식(빵)   기타케이크    6    22500  135000
...          ...      ...     ...  ...      ...     ...
1951  20171229.0   대용식(빵)     기타빵   19     2100   39900
1952  20171230.0  즉석/편의식품  기타편의식품    5      860    4300
1953  20171230.0  즉석/편의식품     기타떡   21     1230   25830
1954  20171230.0  즉석/편의식품  기타편의식품   11      870    9570
1955  20171230.0  즉석/편의식품  기타편의식품   98      990   97020

[1956 rows x 6 columns]

             일자    분류    물품명  수량        단위        금액
0      20170102  가공식품  CJ식재료   8   1752.52  14020.16
1      20170102  가공식품  CJ식재료   8   1752.52  14020.16
2      20170102  가공식품  CJ식재료   9   1752.52  15772.68
3      20170102  가공식품  CJ식재료   9   1752.52  15772.68
4      20170102  가공식품  CJ식재료   8   1752.52  14020.16
...         ...   ...    ...  ..       ...       ...
26151  20171229  가공식품    기타떡  15   1410.00  21150.00
26152  20171229  가공식품  기타케이크   1  16000.00  16000.00
26153  20171229  가공식품  기타케이크   1  16000.00  16000.00
26154  20171229  가공식품  기타케이크   1  16000.00  16000.00
26155  20171229  가공식품  기타케이크   1  16000.00  16000.00

[26156 rows x 6 columns]

2018
2018년 가평군푸드뱅크 접수 및 제공.xlsx

              일자       분류     물품명   수량    단가      금액
0            NaN       분류     물품명  실수량    단가      금액
1     20180101.0  즉석/편의식품     기타떡   13  1290   16770
2     20180101.0  즉석/편의식품  기타편의식품  130   860  111800
3     20180101.0  즉석/편의식품  기타편의식품   18  1050   18900
4     20180101.0  즉석/편의식품  기타편의식품   60  1460   87600
...          ...      ...     ...  ...   ...     ...
1812  20181231.0   대용식(빵)     기타빵  234  1430  334620
1813  20181231.0  즉석/편의식품     기타떡   90  2610  234900
1814  20181231.0  즉석/편의식품  기타편의식품   54   910   49140
1815  20181231.0  즉석/편의식품  기타편의식품    5  1180    5900
1816  20181231.0  즉석/편의식품  기타편의식품    2   900    1800

[1817 rows x 6 columns]

             일자    분류         물품명  수량      단위       금액
0      20180102  가공식품  기타 과일통조림/개   2  3360.6   6721.2
1      20180102  가공식품  기타 과일통조림/개   2  3360.6   6721.2
2      20180102  가공식품  기타 과일통조림/개   2  3360.6   6721.2
3      20180102  가공식품  기타 과일통조림/개   2  3360.6   6721.2
4      20180102  가공식품  기타 과일통조림/개   2  3360.6   6721.2
...         ...   ...         ...  ..     ...      ...
29828  20181231  가공식품         기타떡   5  2610.0  13050.0
29829  20181231  가공식품         기타떡   5  2610.0  13050.0
29830  20181231  가공식품         기타떡   5  2610.0  13050.0
29831  20181231  가공식품         기타떡   5  2610.0  13050.0
29832  20181231  가공식품         기타떡   5  2610.0  13050.0

[29833 rows x 6 columns]

2019
2019년 가평군푸드뱅크 접수 및 제공.xlsx

             일자       분류     물품명      수량            단가           금액
0           NaT       분류     물품명     실수량            단가           금액
1    2019-01-02  즉석/편의식품  기타편의식품      13          1310        17030
2    2019-01-02  즉석/편의식품  기타편의식품      48           930        44640
3    2019-01-02  즉석/편의식품     기타떡     115          1310       150650
4    2019-01-02  즉석/편의식품  기타편의식품       9          1140        10260
...         ...      ...     ...     ...           ...          ...
1102 2019-12-26  즉석/편의식품     기타떡     119          1560       185640
1103 2019-12-27  즉석/편의식품  기타편의식품      60          3250       195000
1104 2019-12-27   대용식(빵)   기타케이크      39         19620       765180
1105 2019-12-30   대용식(빵)     기타빵     252          1490       375480
1106        NaT      NaN     NaN  86,923  2,186,360.09  161,888,080

[1107 rows x 6 columns]

             일자    분류                 물품명  수량       단위        금액
0      20190228  신선식품  (냉)9호벌(24)(181024)   4  2940.00  11760.00
1      20190128  일상용품           기타 생활용품/개  19  1924.98  36574.62
2      20190121  가공식품       오뚜기)쌀올리고당700g   1  3800.00   3800.00
3      20190121  가공식품         청)곰표튀김가루1kg   1  3700.00   3700.00
4      20190121  가공식품          오뚜기당면 300g   1   430.00    430.00
...         ...   ...                 ...  ..      ...       ...
25715  20190426  일상용품                생활용품   5  1173.11   5865.55
25716  20190510  가공식품            기타 과자류/개   5   578.22   2891.10
25717  20190426  가공식품            기타 과자류/개   5   578.22   2891.10
25718  20190426  가공식품            기타 부식류/개   5   873.79   4368.95
25719  20190510  가공식품           청정원 기타식재료  10   697.82   6978.20

[25720 rows x 6 columns]

2020
가평군푸드뱅크.xlsx

                      일자      분류                  물품명   수량      금액
0              사업장 소재지 :     NaN  가평군 가평읍 달전로 44(달전리)  NaN     NaN
1                    NaN     NaN                  NaN  NaN     NaN
2                   모집일자      종류                   품목   수량      가액
3    2020-01-01 00:00:00  대용식(빵)                  기타빵   31   40590
4    2020-01-02 00:00:00  대용식(빵)                  기타빵    2   12300
..                   ...     ...                  ...  ...     ...
844  2020-12-29 00:00:00  대용식(빵)                  기타빵    7   47950
845  2020-12-30 00:00:00  대용식(빵)                  기타빵   18  116460
846  2020-12-30 00:00:00  대용식(빵)                  기타빵   26  152880
847  2020-12-31 00:00:00  대용식(빵)                  기타빵   34  200940
848  2020-12-31 00:00:00  대용식(빵)                  기타빵   19   99370

[849 rows x 5 columns]

                        일자    분류                   물품명   수량     금액
0                사업장 소재지 :   NaN   가평군 가평읍 달전로 44(달전리)  NaN    NaN
1                      NaN   NaN                   NaN  NaN    NaN
2                     제공일자    종류                    품목   수량     가액
3      2020-01-02 00:00:00  가공식품                씨)햇반3입    1   7850
4      2020-01-02 00:00:00  가공식품  cj햇반컵반 사골곰탕국밥 166.5g    1   2000
...                    ...   ...                   ...  ...    ...
27734  2020-12-31 00:00:00  가공식품            롯데칠성) 음료류    12   3765
27735  2020-12-31 00:00:00  가공식품          서울멸균흰우유200ml   24  11568
27736  2020-12-31 00:00:00  가공식품                   기타빵    1   6470
27737  2020-12-31 00:00:00  가공식품                   기타빵    2  12940
27738  2020-12-31 00:00:00  가공식품                   기타빵    2  10460

[27739 rows x 5 columns]

2021
고양시문촌7푸드뱅크.xlsx

,일자,분류,물품명,수량,금액
0,사업장 소재지,NaN,"고양시 일산서구 킨텍스로 340 (주엽동, 고양시문촌7종합사회복지관)",NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,모집일자,종류,품목,수량,가액
3,2021-01-04 00:00:00,대용식(빵),기타빵,25,67000
4,2021-01-04 00:00:00,대용식(빵),기타빵,21,27909
...,...,...,...,...,...
3536,2021-12-31 00:00:00,대용식(빵),기타빵,8,19727
3537,2021-12-31 00:00:00,대용식(빵),기타빵,19,34822
3538,2021-12-31 00:00:00,대용식(빵),기타빵,57,230000
3539,2021-12-31 00:00:00,대용식(빵),기타빵,69,131727
3540,2021-12-31 00:00:00,대용식(빵),기타빵,35,65818

,일자,분류,물품명,수량,금액
0,사업장 소재지,"고양시 일산서구 킨텍스로 340 (주엽동, 고양시문촌7종합사회복지관)",NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,제공일자,종류,품목,수량,장부금액
3,2021-01-04 00:00:00,가공식품,압착올리브유0.5l,1,5170
4,2021-01-04 00:00:00,가공식품,고등어갈치조림양념120g,1,1375
...,...,...,...,...,...
20963,2021-12-31 00:00:00,가공식품,기타빵,1,1886
20964,2021-12-31 00:00:00,가공식품,기타케이크,1,34545
20965,2021-12-31 00:00:00,가공식품,기타빵,2,9350
20966,2021-12-31 00:00:00,가공식품,기타빵,6,22182
20967,2021-12-31 00:00:00,가공식품,기타빵,8,32280

2022
경기도광역푸드뱅크.xlsx

                      일자      분류                 물품명     수량         금액
0                사업장 소재지     NaN  화성시 정남면 괘랑1길 42-30    NaN        NaN
1                    NaN     NaN                 NaN    NaN        NaN
2                   모집일자      종류                  품목     수량         가액
3    2022-01-13 00:00:00     축산물              기타 닭/개  18264   42034220
4    2022-01-24 00:00:00     과자류                 캔디류  62400   34320000
..                   ...     ...                 ...    ...        ...
520  2022-12-28 00:00:00     농산물              백미 1kg  13400   35510000
521  2022-12-28 00:00:00    냉동식품                 도시락   8912   23130745
522  2022-12-29 00:00:00    건강식품                 루티닛   3930   19025130
523  2022-12-29 00:00:00  기타가정용품              아동용품/개   6456  182008680
524  2022-12-29 00:00:00     축산물              기타 닭/개   4867   48826960

[525 rows x 5 columns]

,일자,분류,물품명,수량,금액
0,사업장 소재지,화성시 정남면 괘랑1길 42-30,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,제공일자,종류,품목,수량,장부금액
3,2022-01-01 00:00:00,신선식품,"롯데마트 신선식품 (과일,야채)",101,291809
4,2022-01-01 00:00:00,가공식품,남양유업 기타유제품류 / 개,44,2665
...,...,...,...,...,...
5717,2022-12-30 00:00:00,가공식품,CJ제일제당 식재료,128,268281
5718,2022-12-30 00:00:00,가공식품,살롱 밀크티 아이스크림 100ml,3780,3231900
5719,2022-12-30 00:00:00,가공식품,서울우유 커피우유아이스크림(100g/EA),690,602370
5720,2022-12-30 00:00:00,가공식품,남양유업 기타유제품류 / 개,45,12837
5721,2022-12-31 00:00:00,가공식품,남양유업 기타유제품류 / 개,18,5134

# Extract all 물품명

In [6]:
di_list

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [9]:
save_path = r"C:\Users\Samsung\Desktop\all\Project\23_VRPTW\Data\경기\out\{}.txt"

In [10]:

error_file = []
for dic_ in di_list:
    all_list = []
    print(dic_)
    path_ = Path_.format(dic_)
    file_list = [i for i in os.listdir(path_) if ".xlsx" in i ]
    tq = tqdm(file_list)
    for file_ in tq:
        #print(file_)
        path_file = path_ + "\\" + file_
        try:
            df_ = pd.ExcelFile(path_file)
            df_s = pd.read_excel(path_file,sheet_name=df_.sheet_names[0])
            df_d = pd.read_excel(path_file,sheet_name=df_.sheet_names[1])

            for i in ["접수센터","인수센터","센터","기부자","지역","개인/단체"]:
                if i in df_s.columns:
                    df_s  = df_s.drop(i,axis=1)
                if i in df_d.columns:
                    df_d = df_d.drop(i,axis=1)

            df_s = change_col(df_s,col_dic,dic_,"supply")
            df_d = change_col(df_d,col_dic,dic_,"demand")


            for i in ["기부자","장부단가","개인/단체","이용자"]:
                if i in df_s.columns:
                    df_s  = df_s.drop(i,axis=1)
                if i in df_d.columns:
                    df_d = df_d.drop(i,axis=1)

            all_list.extend(list(df_s["물품명"]))
            all_list.extend(list(df_d["물품명"]))
        except:
            error_file.append([dic_,file_])
    print("#"*40)
    with open(save_path.format(dic_), 'w+') as fp:
        fp.write("\n".join(all_list))

2012

  0%|          | 0/74 [00:00<?, ?it/s]

########################################
2013

  0%|          | 0/74 [00:00<?, ?it/s]

########################################
2014

  0%|          | 0/74 [00:00<?, ?it/s]

########################################
2015

  0%|          | 0/72 [00:00<?, ?it/s]

########################################
2016

  0%|          | 0/74 [00:00<?, ?it/s]

########################################
2017

  0%|          | 0/75 [00:00<?, ?it/s]

########################################
2018

  0%|          | 0/80 [00:00<?, ?it/s]

########################################
2019

  0%|          | 0/91 [00:00<?, ?it/s]

########################################

TypeError: sequence item 191: expected str instance, float found

In [9]:
len(set(all_list))

6962

In [13]:
set(all_list)

{'해바라기씨1박스(20.41kg)동은FC',
 '미닛 프리미엄 오렌지+포도+매실 180ml ',
 '럭키딸기빼빼로',
 '치즈/개',
 '해태)앵그리버드계란과자',
 '통젓갈특A호',
 '컨디션 헛개수',
 '칠성)칠성사이다1.5L',
 '오)스파게티면3kg',
 '샤프란핑크센세이션 3.6L',
 '광천파래김',
 '재래구이김15g',
 '오)너비아니320g*2',
 '기타 떡류/개',
 '깨끗한나라 휴지 24롤',
 '매일)뼈로가는칼슘두유1000ml',
 '오뚜기) 삼포물만두 1350g',
 '사골우거지국22g',
 '오뚜기 뿌셔뿌셔 떡볶이맛 90g',
 '오뚜기 춘천닭갈비덮밥소스150g',
 '앙금빵',
 '동원매운고추참치',
 '호박씨오란다160g',
 '논콜 마요네스500G',
 '오레오',
 '오)매콤담백한 라조기180g',
 '백설 핫케익가루1000',
 '스폰지밥정 미니 종합',
 '쌍방울) 발가락 양말',
 '기타 감자,고구마,당근,뿌리채소/100g',
 '미장센 블랙펄샴푸(리필)680ML',
 '소불고기양념',
 '기타 돼지고기/g',
 '델몬트)애플드링크190ml*4',
 '파인애플 청크 3,053g',
 '유한락스',
 '도나스가루 1kg',
 '밥1kg',
 '엔젤 리듬세트AR-14(여)',
 '냉면사리 800g(신)',
 '농심 농부의마음 알로에(1.5L)',
 '하늘정성 고춧가루(양념) 190',
 '나이키 의류 기타',
 '삼)촉촉한슈케익',
 '롯데 인진쑥옛날찰떡파이(5000)',
 '기타 배/개',
 '화이트슬림날개(밤형10)',
 '기타 고등어,꽁치 통조림/개',
 '페리오치약셋트',
 '양념생청국장',
 '힐라피뇨 샌드위치스프레드 250g',
 '기타 어패류/개',
 '돈가스/g',
 '티피)장우산검정',
 '청풍명월 쌀',
 '해물순대(200g)',
 '손톱깎이2000',
 '구아카칩',
 '해찬들태양초고추장',
 '우리콩 콩나물',
 '족발(매일축산)',
 '오이피클 490g',
 '망고리플쨈',
 '수건',
 '와이즐렉 김치 찐만두 180*3',
 '롯데 몽쉘크림(4800)',
 '우리콩으로 만든 생낫또 168G (냉동)',
 '마시는사과초 1.8L',
 '한우 사골곰탕',
 '오뚜기 3배양조식초900',
 '고추/개',
 '강화섬쌀 10kg',
 '여행용가방(소)',
 '오)감자떡군만두600g',
 '푸드림 설탕3kg',
 '오뚜기 옛날 영양삼계죽 80G',
 '3분 쇠고기 짜장 200g',
 '무짠지2kg',
 '쇼핑카트',
 '쌀로빚은 찐만두 140g ',
 '팔도 꼬꼬면 120g*5입',
 '캡슐완구2500',
 '기타빵) 스멜나이스빵',
 '수세미/개',
 '유한락스후로랄1L',
 '한성 비벼먹는오징어 150g/팩',
 '기타 오렌지,레몬,자몽/개',
 '오뚜기 기타식재료(5)',
 '김치손만두 1300g',
 '기타 도시락/개',
 '이마트) 엠보싱 화장지 70M*12롤',
 '백설 감자수제비(멸치)500',
 '옛날 구수한 오곡누룽지60g*3',
 '케라시스 스트레이트닝 린스 470ml',
 '[쌀20kg] 임금님표이천쌀(참결미)(20KG)',
 'LG생활건강챠밍샴푸 730ml',
 '돼지갈비2kg',
 '오뚜기)참깨드레싱',
 '아침의계란 특란10입',
 '기타 초코과자/개',
 '콩나물/g',
 '블루칩',
 'Go 미트 핫바 70g',
 'BG 탈지분유120',
 '페)기모타이즈',
 '씨제이 알짜란(15입)',
 '햄/100g',
 'EM가루비누',
 '도리토스 2번들',
 '백제)광천올리브유녹차김5g*9개',
 '동원꽁치',
 '깨나라키친타올2',
 '해태 100%오렌지 2L',
 '해태고향만두2kg',
 '슬라이스베이컨',
 '패딩점퍼',
 '마켓오 초코바이트 190g',
 '큐원) 갈색설탕 3kg',
 '찌개두부',
 '프레스코 포도씨유(500ml)',
 '샌)베이컨포테이토1',
 '오뚜기)생강차',
 '동원)양반 전복죽 285g',
 '토마토/100g',
 '[샘표]콩자반(90g)',
 '비엔나소세지 170g',
 '기획초등노트1-2무제',
 '굴/kg',
 '기타 곡물류/100g',
 '찹쌀(700g)일등라이스',
 '수건류',
 '백설우리밀가루(750g)',
 '과자',
 '오뚜기)바몬드카레골드(매 100g',
 '델몬트) 알로에 (1.5L)',
 '찰밀가루3kg',
 '크림수프 60g',
 '신흥푸드식품',
 '찰현미1kg',
 '이마트)쌀국수 500g',
 '맛있는 오뚜기 김치참치덮밥 340G',
 '냉동람부탄',
 '과자류',
 '야채+새우 소시지',
 '평양물냉면 1000G',
 '백세카레면 100G',
 '0227빵',
 '양고기1kg(neck lamb) 8개월미만',
 '오뚜기 가쓰오부시국수장국360',
 '옛날뻥튀기',
 '두루마리 휴지',
 '웰컴키트',
 '오뚜기 짜장볶이 120g',
 '콘칩M',
 '기타 소스류/g',
 '백설) 진한참기름350ml',
 '스프링 노트',
 '커피재료/g',
 '와이즐렉 습기제거제(6+2P)',
 '6000 ABC 딸기요커트(로보카 폴리)',
 '가족사랑 비엔나 1kg',
 '다복김치',
 '2000키즈트리 지크쿠키',
 '기타 물만두,군만두/kg',
 '찹쌀/g',
 '야채스프300g',
 '남양)한뼘더큰아기랑콩이랑1단계180ML*16',
 '통가슴살치킨까스',
 '아구탕',
 '오)설렁탕',
 '오뚜기 참기름(병) 320',
 '호일.랩/개',
 '크라운산도60g',
 '한성플러스맛살135g',
 '오)옛날, 볶음참깨400g',
 '쌀국수 설렁탕',
 '오뚜기)3분햄버거스테이크 140G',
 '버섯류/100g',
 '삼육 검은콩 두유',
 'EL크래미 180g*3',
 '파래김자반50g',
 '오뚜기)컵스프 쇠고기크림',
 '쉐푸드 식용류 1.8L',
 '농）오징어짬뽕봉',
 '생소면(600g)',
 '찹쌀 왕만두피(대형)',
 '해표 순후추100',
 '당도선별 한라봉(3입/봉)',
 '오)생콩칼국수',
 '식물성 마아가린 200g',
 '청포묵(감북동 콩기원식품)',
 '기타 쌀 / kg',
 '비타민두유',
 '무교동 오징어낙지볶음 130g',
 '오뚜기)메밀비빔면멀티130g*5',
 '쉬크)엑스트림3면도날 8입',
 '농심)새우탕큰사발115g',
 '오뚜기 옥수수마아가린200G',
 '천)통마늘진액',
 '가오리초무침',
 '삼육두유',
 '오뚜기 콩국수 4인분',
 '피망/100g',
 '백설찰밀가루',
 '해찬들고추장',
 '기타 김/100g',
 '맛있는김',
 '쇠고기다시다500g',
 '청정원 멸치액젓 골드 500g',
 'SnowValley 동그랑땡(1kg)',
 '제일 메밀김치전병 1400g',
 '롯데랑 세린 고기손만두(520g*2)',
 '유리컵',
 '홈플러스 소문난 라면',
 '오뚜기 프레스코 후실리 500g',
 '해찬들 태양초고추장(봉) 500',
 '딸기카톤200',
 '핫이슈냉면육수 [330ml]',
 '오뚜기육개장',
 'SnowValley 닭가슴살 카레볶음밥 매운맛',
 '아름다운 주방세제 플로랄(리필)1100ml',
 '청정원 까나리액젓1000',
 '돈까스 소스(2.1kg)',
 '푸)호두파운드',
 '샘표 상큼한사과식초900',
 '지팡이',
 '이천찹쌀로만든 맛있는 단팥죽285g',
 '샘표 연두 320g',
 '주유권',
 '100%유기농 갈색설탕 1kg',
 '농심 신라면(30입)',
 '2500 키세스 미니퓨어(14년V-DAY기획)',
 '미니치토스22g',
 '페브리즈에어봄',
 '2500 가나 골드라벨(판)',
 '검은콩고칼슘190ml(팩)',
 '찹쌀왕만두피 340g',
 '한성해물떡볶이(500g*2)',
 '오리/g',
 '기타 간장/g',
 '할라피뇨-s',
 '오뚜기 옛날 쌀국수 700g',
 '홈스타(강력세정)욕실용',
 '오뚜기)3분쇠고기카레 200G',
 '칡즙',
 '브로컬리/kg',
 '내장(삶)국내산 1보',
 'SYSMAX마이미니소품함3단',
 '수협 마른미역100g',
 '컵스프 브로콜리크림(17gx3)',
 '냉동 순찹쌀떡',
 '함박웃음 제주감귤 1.5L',
 '아메리칸치즈케익',
 '기타 냉동식품류/kg',
 '옛날 국수 소면 3kg',
 '알록달록스케치북',
 '우동',
 '러빙홈씽크대',
 '오뚜기옛날미역',
 '한성마늘비엔나',
 '동원)고추참치150*3',
 '롯데 빼빼로(3600)',
 '대양다시마튀각40G',
 '치킨',
 '기타 버터/개',
 '대림해물즐겨바 70g',
 '백설 허브맛솔트매콤55g/병',
 '와라스틱소시지/450g',
 '동원전복죽',
 '와이즐렉홈 양은 편수냄비 16CM',
 '생선가스',
 '크라운 쵸코파이기획(350g)',
 '단감 kg',
 '아이스티복숭아캔',
 '뿌리채소/kg',
 '코코몽 머그컵',
 '오뚜기)단호박죽(냉장) 285g/팩',
 '4000 키세스 퓨어2(14년V-day기획)',
 '기모타이즈갈색',
 '물엿',
 '옥시싹싹 4in1 900ml 주방용',
 '2080 칫솔',
 '잎채소/개',
 '환타오렌지캔',
 '와이즐렉바나나칩new(대)',
 '동원 들기름김 5g*12봉',
 '기장(700g)일등라이스',
 '진간장S 5L',
 '미디퍼블릭런닝세트#054',
 '아이비에스레드오렌지(15g)',
 '핫도그/kg',
 '밀가루',
 '해표 카놀라유900',
 'MU 제본노트1500',
 '설탕/g',
 '기타 의류,스포츠용품/개',
 '소불고기',
 '기타사탕(kg)',
 '오사쯔',
 '스텐식판',
 '3200삼립호빵단팥',
 '핑거립(미스터블랙)-S',
 '크래커/개',
 '순메밀물냉면2인',
 '고등어/개',
 '허쉬너겟아몬드(184g)',
 '(오뚜기)하이라이스1kg',
 '오므라이스 소시지',
 '오뚜기)즉석북어국 34G',
 '기타 채소류/개',
 '6300허쉬미니어처 중량UP',
 '미원)맛소금250',
 '렉시모메모리폼목쿠션',
 '데톨 핸드워시(허브)',
 '드레싱류/개',
 '맥심모카골드마일드-20',
 '보보스팜 식자재',
 '로젠와플아이스크림딸기',
 '킹클릭왕게맛 65g',
 '어묵',
 '지)팽이버섯',
 '와이즐렉원형CD케이스',
 '키드니빈스(2.5kg)',
 '오므라이스3분햄버그',
 '강심장치즈육포30g',
 '3M 막대걸레',
 '미닛)펄피레몬350ml',
 '승국죽순(500g)',
 '신화팝콘(하산곡동)',
 '올리브유0.5',
 '철새전망대쌀2kg',
 '숀리 닭가슴살 치즈맛 280g',
 'H치즈쿠키',
 '여성 방한화',
 '홀리데이 캔디 케인스 30개입',
 '버버리거실내화',
 '오뚜기) 옥수수유 3.6L',
 '남성니트',
 '옛날물엿1.2',
 '댕기머리샴푸',
 '물게임-개구리중사케로로',
 '곰표 중력밀가루 1000',
 '행복가득내맘그린쌀20kg',
 '오)산등간짜장',
 '숙취음료/개',
 '꿀매실차1KG',
 '해찬들 8가지 국산양념쌈장(500g)',
 '옥시데톨스위트오렌지',
 '쌀/g',
 '빙）요플레클래식',
 '귤/개',
 '농심 튀김우동 컵면(소)',
 '청정원 흰물엿(1.2kg)',
 '커피/개',
 '서울우유딸기멸균200ml',
 '뻥이요스낵',
 '햄페스츄리생지',
 '맛국수',
 '마이디어샤프0.5mm',
 '백설갈색설탕',
 '푸르밀 가나초코우유225*4',
 'CJ)유동번데기탕280g',
 '기타 표백제/개',
 '향수로즈',
 '동원파인애플슬라이스',
 '기타빵) 완두앙금빵',
 '푸）검은콩우유소',
 '삼양)짜짜로니5입',
 '멸치/100g',
 '토디앙 자운보기저귀박스(대68)',
 '껌/개',
 '후추',
 '굿모닝모나리자화장지',
 '참존오이피클(3kg)',
 '기타 커피/개',
 '김치왕만두490',
 '냉면/개',
 '와이즐렉초등노트(1-2받아쓰기',
 '헤어폴클리닉 컨디셔너850ml',
 '홍삼엑기스*300포',
 '기타 간장/개',
 '크라운 화이트하임(2800)',
 '허쉬 너겟 아몬드(184G, 공통)',
 '오쉐프 닭강정소스 2.3KG',
 '기타 돼지갈비',
 '기타 조미류/kg',
 '속옷위에붙이는핫팩대',
 '갑오징어',
 '남교회 식재료',
 '포)수제쵸코쿠키',
 '진표당면500G',
 '테크리필',
 '당근/개',
 '효소바 슬림',
 '군만두/개',
 '삼화 꿀매실 이야기',
 '오뚜기 북경반점짬뽕 5입 멀티팩',
 '중저파 치료기',
 '뷰티스판 100호',
 '기타 계란/100g',
 '오리온 닥터유골든키즈쿠키',
 '감자떡 김치만두600G',
 '오미자(18GX20)',
 '제주냉동갈치 대1마리/약378g',
 '기타 마가린/개',
 '샘표진공숙성소면1.5kg',
 '야채',
 '크라운팝콘49g',
 '멘토스포도맛',
 '맛살/g',
 '쇠고기다시다200g',
 '코코넛(박스)',
 '삼포 물만두 450g',
 'fresgvalley 오메가3버터',
 '섬유유연제/개',
 '5분 칠리새우소스100g',
 '맛있게 매운 태양처 알찬 고추장4.5kg',
 '야광팔찌',
 '휴지 30롤',
 '꼬깔콘',
 '아이스크림-1.6',
 '우리쌀치즈떡볶이(국내산)',
 '급식(밥)/개',
 '동원골뱅이400g',
 '하프케찹 280g',
 '한성해물경단',
 '(백설)부침용밀가루1kg',
 '태화고무장갑',
 '곰표 튀김가루500',
 '자동차 송풍시트S',
 '서울우유 1000ml',
 '경기도 용인 백암쌀 20kg',
 '오뚜기)라면사리(5입)',
 '페리오여행세트',
 '플러스메이트사무용(칼+가',
 '맛있는 오뚜기 해물리조또 300G',
 '증편',
 '오)옛날미역25G',
 '여성용상의자켓',
 '수연소면500g',
 '바디피트',
 '살균세척제',
 '옛날구수한끓여먹는누룽지240g',
 '풀무원 숙주나물 300G',
 '절임반찬/100g',
 '마일드참치150',
 '스타벅스카페오레',
 '샤프란2500ml',
 '허니크림드레싱305g',
 '스낵면컵',
 '치즈드레싱/난백스크램블',
 '의약품/개',
 '오뚜기 2배사과식초 500ML',
 '오이지',
 '완자/g',
 '오뚜기CURRY SAUCE(토마토) 400g',
 '해찬들 사계절쌈장(P) 170',
 '제빵재료/g',
 '로하이) 사조참치150g',
 '용기면/개',
 '성경김',
 '식용유',
 '오)가바현미2kg',
 '빙그레 뽀로로와친구들(80*5)',
 '오뚜기 옛날 조청 쌀엿2500',
 '음료500',
 'cj차이니불도장',
 '부추김치1kg',
 '어묵/g',
 '오)돼지불고기양념2.1kg',
 '계란/kg',
 '햄',
 '기타 액상차/개',
 '서울우유 요구르트(65ml)',
 '기타 건강음료/개',
 '바몬드카레(매운맛)100g',
 '달콤한B',
 '해물맛볶음우동4인',
 '오뚜기)스위트엔젤밀감',
 '편육(1kg)',
 '커널스팝콘믹스',
 '기타 과일류/g',
 '동화 초코펀 스낵',
 '동치미맛냉면육수',
 '시골김',
 '케라시스샴푸(180g)',
 '무궁화 표백 비누',
 '오뚜기 카레 약간매운맛(1KG)',
 '9200 길리안 시쉘 125G',
 '도브샴푸',
 '해찬들우리쌀태양초골드고추장1KG',
 '초고추장 300g',
 '기타 건어류/개',
 'TRY 센트9부 여성용 내의 ',
 '청정원순창초고추장튜브형300g',
 '코코몽 스텐대접',
 '눈다랑어 머리대',
 '당근/g',
 '동원순등심돈까스 800G',
 '대한쿠킹호일',
 '오）야채참치',
 '등산의류-0120',
 '이마트찰현미 1kg',
 '진주장조림150g',
 '백설 식용유(콩기름) 500ml',
 '찹쌀 700g',
 '백설 산들애(쇠고기) 100',
 '수입소고기/g',
 '기타 계란/개',
 '포장반찬/100g',
 '급식(반찬류)/개',
 '오)1등급계란15구',
 '오렌지사이다(일본수출용,250ml)',
 '1등급란 30개입 1800G',
 '매직스 한비울트라날개(대28)',
 '떡갈비맛 샌드 56g',
 '동서 프리마(1kg)',
 '해)고향만두중',
 '여성 의류 기타',
 '로즈버드 리치카페카페라떼 170ml*10',
 '애경) 2080 오리지날 알파 블루',
 '멀티박 찹쌀 왕만두피 300G',
 '오뚜기 식재료(1)',
 '삼육두유) 검은콩 참깨',
 '옛날 국수 칼국수 900G',
 '자연마을볶음깨소금(150g)',
 '제습제',
 '마켓오 초코 크리스피 카페라떼66g',
 '오뚜기 올리고당 700G',
 '오뚜기 삼포교자만두1350',
 '엘라스틴 실크리페어 샴푸 400ml ',
 '아라비카 커피',
 '옥수수마아가린200G',
 '쉐이킹카페오레(300ml)',
 '몽고진간장1.8L',
 '2분만에 바로먹는 스낵면(6개입)',
 '담백한A 190ml',
 'CJ)간편미역국',
 '기타부식류(동원)',
 '오뚜기 와사비분 300G',
 '밴드트렁크95',
 '쿨피나콜라다차음료340ML',
 '계란 30ea',
 '샴푸 어린이용',
 'LA소갈비1kg',
 '아이트렁크100',
 '6000스위트book크런키6入(14년V-day',
 '통젓갈 A호 SET',
 '샤)통단팥찐빵',
 '미키미니스푼포크세트',
 '미소누리냉면육수340g',
 '여성슬리퍼',
 '포도/개',
 '키위/100g',
 '와이즐렉 멸균흰우유 200*3',
 '오뚜기 식용유 900',
 '우리밀우리쌀고구마찐빵(1kg)',
 '잡채 540g',
 '(G)플러스메이트디지털유리체중계',
 '소매담요',
 '엘라스틴 모이스처 컨트롤 린스 400ml',
 '미쯔블랙',
 '기타 구두솔,약/개',
 '롯데 크레용울트라짱3입(N)',
 '사골곰탕 (350×3)G',
 '강정 1박스',
 '4500요리스낵3번들',
 '레드와인소스(드레싱) 210g',
 '오뚜기)마일드참치',
 '삼화꿀모과차 1kg',
 '쌀 4kg',
 '뿌서뿌셔(불고기맛)(90G×10)G',
 '일회용품/개',
 '구운 오징어',
 '오뚜기 옛날 쌀국수 500',
 '정식품)베지밀인펀트(프리미엄)1단계190ML*16',
 '매콤평양물냉면 2인 1036g(신)',
 '안심(국내산)',
 '베지밀 진한 두유',
 '백설 쇠고기다시다500',
 '국수/개',
 '복숭아홍차20입280g',
 '기타 한과,웨하스/개',
 '홍삼원골드병',
 '진라면순한맛120g*40',
 '싱그린)토종닭',
 '미찌푸드 과자류',
 '커피',
 '삼화퀸석류(14GX20)',
 '오뚜기 사골곰탕면 110g',
 '이마트 키친타올',
 '된장/g',
 '미용화장지',
 '김/개',
 '대림선 런천미트 200g',
 '포인트핸들커',
 '오리온초코파이840g(24입)',
 '스페셜즈로즈#057',
 '오뚜기옛날참기름',
 '국순당 우리쌀로 빚은 생막걸리 750ml',
 '크런치웨이퍼바닐라10봉입',
 '보리/g',
 '순창 재래식된장 500G',
 '기타 식재료/100g',
 '블루칩비누',
 '한성쌀떡국떡',
 '양염통(1kg)',
 '주 서귀포감귤(1.5kg/봉)',
 '양배추/box',
 '똑쌀떡국(174g)',
 '내의',
 '나이키 팔굽 보호대',
 '캘리포니아건포도',
 '돼지갈비양념',
 '유아간식/개',
 '롯데 청포토 사탕',
 '오뚜기명품쌀３Ｋ',
 '부)바나나우유',
 '크래미 300G',
 '기타 망고,열대과일/개',
 '오)꽁꽁 짜장면350g',
 '빼빼로 화분세트',
 '생손칼국수1KG',
 '기타 식용유/개',
 '삼화 진간장 1.8l',
 '해물동그랑땡',
 '기타 고기류/kg',
 '메밀담은구수한누룽지차 (2GX50)',
 '1500 타코스 칠리쉬림프 중량 20%UP',
 '깐메추리알 1KG',
 '밀가루 3kg 5000',
 '비빔쫄면',
 '미원- 쌀엿 700g',
 '미트볼',
 '산내들 볶음깨소금',
 '아욱(단/1단)',
 '과일촌제주감귤1.0L',
 '꿀꽈배기',
 '농심)포스틱(대)270g',
 '크리스아몬드 M',
 '감자떡김치만두 1,350g',
 '그린자이언트니블340',
 '베비언스 퍼스트밀0~6',
 '오)꿀땅콩55g',
 '가야농장 알로에',
 '도리토스 나쵸치즈맛',
 '포유 식탁매트',
 '넥 워머',
 '기타 훈제알,메추리알/kg',
 '기타 건강용품/개',
 '오뚜기)즉석육개장 42G',
 '켈로그)스페셜K시리얼',
 '기타 케찹,마요네즈/개',
 '종가집 손두부(부침) 380g',
 '1200 롯데샌드',
 '오뚜기 사과식초500',
 '소불고기 큰 양념(2.1kg)',
 '꽁치/개',
 '고무장갑/개',
 '꽁치 통조림(400g)',
 '기타 닭/개',
 '비닐장갑/개',
 '오뚜기 제육덮밥소스150g',
 '컨버스)비니모자',
 '대림)참피온소세지500g',
 '오뚜기)옛날당면500G',
 '우리밀 부침가루500',
 '고기만두',
 '위생장갑',
 ' 롯데 초코파이2번들',
 '통통맛살',
 '매일 요미요미빨강 (100ml*2)',
 '이츠웰튼튼스쿨동그랑땡',
 '한성 크래미(180G*2)',
 '메디안)치약(마린)160gx3',
 '청우 고려 홍삼캔디300g',
 '남양)맛있는우유GT 1800',
 '비타민워터(트로피컬시트러스맛)',
 '롤리팝',
 '큐원) 갈색설탕 1kg',
 '3M자동차크리너(세차용)',
 '현미식초900ML',
 '1500 쌀로별별고소[RRP]',
 '동원 DHA 참치 100G',
 '(주)티엠홀딩스 부식류',
 '사골찹쌀죽',
 '2500 길리안 시쉘 33g',
 '멸치다시다300g',
 '롯데 누드빼빼로(1000)',
 '패밀리월드팩299g',
 '재래식돌김',
 '기타 부식류/kg',
 '영남월드)국내산제주도무우말랭이',
 '김치/kg',
 '오뚜기)이천쌀로만든맛있는쇠고기죽 285G',
 '프레스코 스파게티면170g',
 '남향)또띠아(쌈,8호) 320g/개',
 '기타 간장/kg',
 '무쌈200g',
 '건강음료수',
 '다시다/개',
 '농심 안성탕면(700원)125G - VINYL',
 '*국수면',
 'CJ)백설햇바삭김(재래김)20g',
 '탁구공세트(6입)',
 '테팔오팔리아28cm',
 '오뚜기)카레분말(약간매운맛) 100g',
 '카운티중형버스완구',
 '셀러스 핸드젤 (손세정제)',
 '오)가쓰오우도&해물볶음우동4인',
 '월남쌈',
 '참그린(박하) 1kg리필',
 '정)달콤베지밀비',
 '계란/100g',
 '2080치약',
 '김밥이랑초밥이랑 595g',
 '돼지떡갈비',
 '헤이즐넛카카오',
 '기타빵류',
 '학용품 필통',
 '일품 당면 500g',
 '오뚜기)옛날국수(중면)900G',
 '물엿 1.2kg',
 'LG)샤프란핑크기획2.1Lx2',
 '함박스테이크 kg(100g)',
 '아로마향미용티슈220',
 '폴리백중',
 '포인트 릴리 바디워시 180g',
 '마하３면도날',
 '양산연두부(150g)',
 '기타 수박/개',
 '녹차원 현미녹차(100티백)',
 '오뚜기)3분카레(약간매운) 200G',
 '오뚜기밥친구 야채24g',
 '옛날 초고추장 1080G',
 '기타 소시지/g',
 '다선칼국수 1kg',
 '청정원 햇살담은 양조간장 500ml',
 '단팥죽 285g',
 '단호박샐러드1kg',
 '두부/g',
 '롯데오징어땅콩은?',
 '청포도 코코',
 '과자스넥(3묶음)  해태',
 '떡국',
 '달콤한베지밀B 190ml',
 '기타 햄/g',
 '콩나물/개',
 '5분쿠킹제육볶음소스100G',
 '맥심 디카페인커피믹스(50포)',
 '닭볶음탕/kg',
 '현미찹쌀',
 '생쫄면 452G(신)',
 '청정원야채보크라이스24g',
 '마미포크 팬티 (여아용 / 18)',
 '정식품)유기농토들러3단계190ml*16',
 '깨끗한나라)키친타올 130매*4롤',
 '몽쉘마롱케이크',
 '★엔젤멜로디혼37KR(여)',
 '영양왕족발(대)',
 '비엔나소시지3kg',
 '스넥친구들',
 '사리당면1000',
 '부침가루/100g',
 '이마트 메밀차 160g 100입',
 '곤약/개',
 '바이오킵스직61호',
 '오뚜기명품쌀１Ｋ',
 '샘표 진간장 930mL 기획',
 '대림)김밥세트',
 '오뚜기)토마토페이스트3.1kg',
 'to you 초콜릿과자 60g',
 '장조림(진주햄)',
 '동원)찌게참치150*3',
 '녹차베지밀캔',
 '백설맛소금500g',
 '매일유업소이밀크200ml-24개',
 '콜라/개',
 '우갈비',
 '등심돈가스',
 '기타 휴지통,크리너/개',
 '성경김 65g',
 '성경 구이김 25g * 3봉',
 '두유',
 '오뚜기) 코울슬로드레싱 3.2KG',
 'CJ(식재료)',
 '4800 길리안 시쉘 65g',
 '오뜨 쇼콜라',
 '자숙문어',
 '닭산적파꼬치(맛깔지기)1kg',
 '와이즐렉 휘슬 주전자 1.2L',
 '건오징어채쥐포',
 '세척락스2L',
 '산수유쌀 20kg',
 '해표 참 진한참기름',
 '오징어채',
 '후루츠쨈 500G',
 '청정원 순창쌈장200',
 '풀무원 두부 기획(670g)',
 '*피자',
 '보국메탈포트',
 '자이리톨 분홍 ',
 '농심)너구리멀티',
 '가지 / 1박스',
 '미트소스스파게티',
 '오므라이스3분소스햄버그200g',
 '1500 오징어땅콩 NEW',
 '롯데샌드(깡뜨)',
 '오뚜기)허니크림(245g)',
 '기타 시금치,미나리,잎채소/개',
 '감자 5kg',
 '물만두/kg',
 'CJ)갈색설탕 1Kg',
 '오뚜기 사과식초900',
 '떡',
 '강원애단호박죽',
 '수입소고기/개',
 '애기보(BATALLE)(1kg)',
 'new way 샴푸(LG생활건강)',
 '코코몽 2단밴드도시락(대)',
 '타바스코 핫소스 60ml',
 '오뚜기/생칼국수350g',
 '오리온 썬오리지날(1200)',
 '이불',
 '락앤락 823정 870ML',
 '참치',
 '3분 햄버거스테이크 140G',
 '김장김치',
 '기타 쥐포,육포,조미(건)오징어/개',
 '오뚜기 삼화 마차 골드(15gX15)',
 '서울우유 멸균 딸기 200ml*3',
 '스포츠양말',
 '오뚜기 아일랜드드레싱315',
 '크라운 치즈샌드',
 '망고 180ml',
 '오뚜기) 사천탕수육 소스 2Kg',
 'G&T 국산마늘비엔나 1kg',
 '구두약/개',
 '비닐팩(중형)',
 '프레스코스파게티소스마늘&양파 685G',
 '나물류/kg',
 '갓김치',
 '동아루니툰미니색연필12색',
 '동원)복숭아 황도슬라이스800g',
 '고춧가루/kg',
 '오뚜기)옛날우리밀국수400g',
 '바리스타모카',
 '뿌셔뿌셔 (양념치킨맛) 90g',
 '기타 알류/개',
 '건강식품/개',
 "불가리스 20's",
 '오)옛날다시마200g',
 '무쇠솥볶은짬뽕(420g)',
 '맛있는두유210ml',
 'CJ참그린녹차설거지800g',
 '청정원 감칠맛나는미원130',
 '갈색설탕',
 '가지',
 '동원추억사각어묵 250g',
 '궁중한차',
 '우듬지)애호박/box',
 '기스면115G',
 'Nutsvalley 새우아몬드100G',
 '오뚜기)마일드참치 250G',
 '친환경주방세제',
 '정식품 베지밀비 190ml',
 '샤프란 스프링 블루 2100mL',
 '매일)흰우유 2300',
 '야쿠르트)비락수정과1.8L',
 '휘오순수500ml',
 '원조맛집 떡볶이소스150g',
 '백설 돼지갈비양념',
 '담백한 고기만두 1400g',
 '치토스',
 '숯불구이맛 김밥햄120g',
 '황태해장국 500g',
 '4000 초코빼빼로(용기)',
 '기타 과자류/개',
 '피죤(아로마)',
 '파운드마아가린',
 '농심)육개장사발면',
 '미니팬케익볼',
 '한차/개',
 '테크익스트림크린(1kg)',
 '후렌치후라이드 아몬드 40g',
 '프리미엄쥬스대',
 '청정원 케찹500',
 '오뚜기)검은깨죽 80g',
 '굴비(생선)',
 '치커리',
 '카페베네식품류',
 '오뚜기)라면볶이(컵)',
 '남성혼합장목3족',
 '청정원 자연숙성진간장 500',
 '오렌지88과(10입)',
 '옛날미역50G',
 '기타 포장,절임반찬/kg',
 '오뚜기불고기덮밥',
 '돈가스소스 21kg',
 '계란야채볶음밥',
 '주방용품(스티머세트)',
 '페브리즈 은은한향 900ml',
 '몽고진간장500ml',
 '세탁세제/개',
 '홍초(900ML)',
 '하수구뚫어뻥 1.4m',
 '오뚜기)3분바몬드카레',
 '혼합12곡',
 '동원참치살코기캔(라이트)',
 '해태 에이스(2200)',
 '서울딸기우유(멸균)200ml',
 '소고기불고기',
 '한국아쿠르트)배터질라면125g',
 '허니머스타드 드레싱-c 3.2kg',
 '후르츠쨈500',
 '엘라스틴 실크 리페어7 샴푸200ml',
 '기타 멸치,건명태//100g',
 '청정원 멸치액젓500G',
 '모던박스 3단 서랍장(40)',
 '강원도칡냉면 2인 1026g',
 '오뚜기 케찹800',
 '골뱅이/개',
 '맛있는 어묵 9야채 (사각형) 100g',
 '백세카레 순한맛 1KG',
 '화이트 생리대기획(66)',
 '몽쉘 12봉입',
 '기타 오이,고추,호박,피망/100g',
 '갈치속젓(100g)',
 '새우튀김',
 '고추지무침',
 '기타 냉장식품류/개',
 '삼）그린케익',
 '깐메추리알 300G',
 '홍삼벌꿀소병',
 '우리콩 콩나물 kg',
 '토마토/개',
 '하림치킨스틱200g',
 '옛날국수소면2.5KG',
 '초이스엘 완도미역 100g',
 'Ａ４레버화일',
 '서울 요하임딸기저지방요거트',
 '오므라이스3분소스미트볼180g',
 '불고기700g',
 '사과식초1.8l',
 '기타 필기용품/개',
 '카레',
 '큐슈풍야채어묵 (스틱)',
 '면도기/개',
 '진라면컵',
 '쌀국수',
 '유아옷- 내의 초록(대)',
 '진로석수(플레인)',
 '골드브라운하이스(고형)',
 '잎채소/kg',
 '기타 포장,절임반찬/개',
 '현대미소해물완자 1kg',
 '백설 식용유1800',
 '행복이가득한미용화장지',
 '서울 도토루카페모카기획',
 '리빙엘 고무장갑 (중)',
 '조개/kg',
 '모아 도라지 나물 1kg',
 '오리훈제셀러드',
 '네스티허니리얼사과350P',
 '기스면 용기 62g',
 '생쫄면사리 800g',
 '기타 축산통조림/개',
 '단무지1kg',
 '부산우유1L',
 '무우 1kg',
 '바몬드카레(순한맛) 1KG',
 '미소된장국',
 '오리/kg',
 '복숭아/개',
 '계란(10구)',
 '열라면 용기',
 '통통맛살H',
 '미트볼로냐스파게티 620g',
 '냉동 가리비살',
 '순대(하늘솥)2kg',
 '휴지걸이',
 '김치/100g',
 '오뚜기snowvalley동그랑땡',
 '10000 아이언맨 가면놀이(14년추성종선)',
 '오라떼 피치 350ml',
 '무우',
 '오뚜기 참기름1000',
 '기타 브로컬리,파프리카,양상추/100g',
 '포기김치5kg',
 '오뚜기 교자만두 3kg',
 '함흥비빔냉면510G(신)',
 '유자차/개',
 '클린앤클리어클렌져',
 '오두유',
 '깻잎/개',
 '후레쉬마요네즈',
 '기타 주방,식기세제/개',
 '맨유중목양말백색',
 '오뚜기)카레밥340g',
 '오)꿀대추차500g',
 ...}

In [11]:
len(error_file)

12

In [33]:
["접수센터","인수센터","센터"]

True

In [40]:
df_s.drop("접수센터",axis=1)
df_s

         접수센터        기부일자   기부접수물품 Unnamed: 3 Unnamed: 4       장부 Unnamed: 6
0         NaN         NaN       분류        물품명        실수량       단가         금액
1   경기도광역푸드뱅크  20120104.0      과자류     초코과자/개      30679  2708.91   83106750
2   경기도광역푸드뱅크  20120106.0      과자류     초코과자/개       7541  1632.97   12314250
3   경기도광역푸드뱅크  20120120.0   기타가공식품   기타 부식류/개      17747  1429.72   25373190
4   경기도광역푸드뱅크  20120202.0   기타가공식품     기타 식재료        196  5054.12     990608
..        ...         ...      ...        ...        ...      ...        ...
58  경기도광역푸드뱅크  20121122.0      과자류  기타 초코과자/개       1227  3030.15    3718000
59  경기도광역푸드뱅크  20121201.0   기타가공식품   기타 부식류/개       9920  1208.46   11987960
60  경기도광역푸드뱅크  20121206.0      농산물      쌀과자/개       8400     1430   12012000
61  경기도광역푸드뱅크  20121218.0   기타가공식품   기타 부식류/개       5530  1223.01    6763270
62  경기도광역푸드뱅크  20121221.0  언더웨어/양말   양말.스타킹/개      64842  1434.26   93000000

[63 rows x 7 columns]

2012